body{
  background-color: rgb(0, 0, 0);
  
}
nav {
  display: flex;
  align-items: center;   /* vertically center ALL items */
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  background-color: rgb(149, 195, 244);
  width: 100%;
}

nav a {
  margin-right: 45px;
  text-decoration: none;
  color: rgb(255, 255, 255);
    font-weight: bolder;
}

.logos img {
  height: 40px;        
  margin-left: 15px;
  margin-right: 20px;

}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
 
}

 .product{
            width: 400px;
            margin: auto;
            padding: 20px;
            background: white;
            border-radius: 12px;
            box-shadow: 0 0 10px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            align-content: center;
            padding-left: 40px;

        }
      

        .imgholder{
            width: 100%;
            height: 250px;
            border: 2px solid white;
            border-radius: 10px;
            overflow: hidden;
            margin: 15px;

        }

        #pix{
          overflow: hidden;
        }


       button{
        background-color: rgb(252, 230, 124);
        border-radius: 5px;
        font-family: fantasy;

       }

       .product-grid{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax (250px, 1fr));
        gap: 20px;
        width: 90%;
        margin: auto;
        padding: 20px;

      }

      .product-card{
        width: 100%;
        margin: auto;
        padding: 20px;
        background: #fff;
        border-radius: 12px;
        box-shadow: 0 0 10px rgba (0,0,0,0.1);
        font-family: monospace;
      }

      .img-holder{
        width: 100%;
        height: 250px;
        overflow: hidden;
        margin-bottom: 15px;
      }

      .img-holder{
        height: 200px;
      }


      .modal{
        background-color: antiquewhite;
        text-align: center;
        align-content: center;
      }
